<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand material-icons" href="home">menu_book</a>

    <div class="profile">

      <i mat-icon-button [matMenuTriggerFor]="menu" class="material-icons">account_circle</i>

      <mat-menu #menu="matMenu">

        <div *ngIf="isAdmin">
          <button mat-menu-item (click)="userManagment()">
            <span>Users managment</span>
          </button>
          <button mat-menu-item (click)="authorManagment()">
            <span>Authors page</span>
          </button>
          <button mat-menu-item (click)="productManagment()">
            <span>Product managment</span>
          </button>
          <button mat-menu-item (click)="orderManagment()">
            <span>Orders managment</span>
          </button>
        </div>

        <button mat-menu-item (click)="myProfile()">
          <span>My profile</span>
        </button>
        <button mat-menu-item>
          <span>My orders</span>
        </button>
        <button mat-menu-item>
          <span>Log out</span>
        </button>
      </mat-menu>

    </div>
  </nav>
</header>