<mat-drawer-container class="example-container">
    <mat-drawer-content>
        <div class="add-circle">
            <i class="material-icons" (click)="add()">add_circle</i>
        </div>
        <div class="conteiner">
            <table mat-table [dataSource]="data" matSort>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>
                        Name
                    </th>
                    <td mat-cell *matCellDef="let element">{{element.title}}</td>
                </ng-container>

                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef>
                        Description
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="hide-text-overflow">
                            {{element.description}}
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="category">
                    <th mat-header-cell *matHeaderCellDef>
                        Category
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.type | peTypeToString}} </td>
                </ng-container>

                <ng-container matColumnDef="author">
                    <th mat-header-cell *matHeaderCellDef> Author </th>
                    <td mat-cell *matCellDef="let element">
                        <p *ngFor="let author of element.authors">{{author.name}}</p>
                    </td>
                </ng-container>

                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef> Price
                        <i class="material-icons" (click)="sortProducts()">swap_vert</i>
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.price}} {{element.currency | currencyToString}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="customColumn">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                        <i class="material-icons actionIcon" (click)="edit(element)">
                            create
                        </i>
                        <i class="material-icons actionIcon" (click)="delete(element)">
                            highlight_off
                        </i>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [length]="resultsLength" [pageSize]="peFilter.paging.itemsCount" showFirstLastButtons>
            </mat-paginator>
        </div>
    </mat-drawer-content>
</mat-drawer-container>