table {
    width: 100%;
}

.add-circle {
    text-align: end;
    margin-right: 10%;
    cursor: pointer;
}

i {
    cursor: pointer;
}

.hide-text-overflow {
    display: block;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}