<div>
    Admin password: 12345_Admin
    <h2>Sign-in</h2>
    <div *ngIf="errors?.length > 0">
        <p id="errors" *ngFor="let error of errors"> {{error}} </p>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)='signIn(loginForm.value)'>
        <div class="form-group">
            <label for="email"> Email </label>
            <input id="email" class="form-control" type="text" formControlName="email" placeholder="Email" />
        </div>

        <div class="form-group">
            <div class="inline">
                <label for="password"> Password </label>
                <a class="right-side" href="account/password-recovery"> Forgot password? </a>
            </div>
            <input id="password" class="form-control" type="password" formControlName="password" placeholder="Password">
        </div>
        <div class="form-check">
            <div class="inline">
                <label style="margin-left: 40.5%;" class="form-check-label">
                    <input class="form-check-input" type="checkbox" [checked]="rememberMe"
                        (change)="rememberMe = !rememberMe">
                    Remember me
                </label>
                <button style="margin-right: 40.5%;" class="btn btn-primary btn-sm right-side" type="submit"> Sign-in
                </button>
            </div>
        </div>
        <br>

        <div class="center">
            <p> New to Book Publishing Company?</p>
            <button class="tn btn-primary btn-sm" type="button" (click)="signUpRedirect()"> Sign Up </button>
        </div>
    </form>
</div>