input[type="text"], input[type="password"] {
    margin-left: 40%;
    width: 20%;
}

button[type="button"]{
    width: 15%;
}

.center {
    text-align: center;
}

label {
    margin-left: 40%;
}

h2 {
    text-align: center;
}

#errors {
    text-align: center;
    color: red;
}

.right-side {
    text-align: end;
    margin-right: 40%;
}


.inline {
    display: flex;
    justify-content: space-between;
}