#profile {
    margin-left: 30%;
}

input {
    width: 40%;
}

.head {
    display: flex;
    justify-content: space-between;
}

.edit-icon {
    margin-left: 29%;
}

.profile-icon {
    font-size: 100px;
    color: black;
}