<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>User name</th>
                <th>User Email</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.firstName}} {{user.lastName}}</td>
                <td>{{user.email}}</td>
                <td>
                    <div class="container">
                        <input type="checkbox" class="toggle-button" (change)="onToggle(user)">
                    </div>
                </td>
                <td>
                    <button class="btn btn-secondary btn-sm">Edit</button>
                    <button class="delete-button" (click)="delete(user)">X</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="control-buttons">
        <button (click)="start()" class="btn btn-secondary"><<</button>
        <button (click)="previous()" class="btn btn-secondary"><</button>
        <button (click)="next()" class="btn btn-secondary">></button>
        <button (click)="end()" class="btn btn-secondary">>></button>
    </div>
</div>
