<div *ngIf="errors?.length > 0" class="error">
    <h3>There was a problem!</h3>
    <p>
        We're sorry. We weren't able to identify you
        <br>
        given the information provided.
    </p>
</div>
<h2>Password assistance</h2>
<div *ngIf="!isEmailCorrect">
    <div class="form-group">
        <p>Enter the email address associated with your account </p>
        <label for="email">Email</label>
        <br>
        <input id="email" class="form-control" type="text" placeholder="Email" [(ngModel)]="email">
    </div>
    <div class="center">
        <button class="tn btn-primary btn-sm" type="submit" (click)="passwordRecovery()">Continue</button>
    </div>
</div>
<div *ngIf="isEmailCorrect">
    <p>
        You will recive an e-mail with a new password to login onto your e-mail box
        <br>
        stated in your Personal Profile.
        <br>
        <br>
        Please contact our administrator if you don't receive an email message with
        <br>
        a new password. 
    </p>
    <div class="center">
        <button class="tn btn-primary btn-sm" type="submit" (click)="continue()">Continue</button>
    </div>
</div>