<div mat-dialog-content>
    <p>Edit author</p>
    <form [formGroup]="editAuthorForm" (ngSubmit)="edit(editAuthorForm)">
        <div class="form-group">
            <label for="name">Author name</label>
            <input id="name" type="text" class="form-control" formControlName="name" placeholder="Author name">
            <div *ngIf="name.invalid && (name.dirty ||
                name.touched)" class="error">
                Name is required.
            </div>
        </div>
        <div class="control-buttons">
            <button type="button" class="btn btn-danger control-buttons btn-sm" (click)="cancel()">Cancel</button>
            <button class="btn btn-primary control-buttons btn-sm">Save</button>
        </div>
    </form>
</div>